<html>

	<head>
		{% if title %}
		<title>{{title}} - microblog</title>
		{% else %}
		<title>microblog</title>
		{% endif%}
	</head>
	
	<body>
		<div>Microblog:
			<a href="{{ url_for('index') }}">Home</a>
			{% if g.user.is_authenticated() %}
			| <a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</div>
		
		<hr>

		<!-- this checks to see if there are any flashed messages, displays them if so -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		
		<!-- this is a placeholder that will be filled by 'child' templates -->
		{% block content %}{% endblock %}
	</body>
	
</html>